html{
	box-sizing: border-box;
}

*::before,
*::after,
*{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(to bottom, blue, lightblue);
	background-repeat: no-repeat;
}

.container{
	display: inline-block;
	width: 900px;
	height: 200px;
	position: relative;
	margin-top: 150px;
}

.box-wrapper{
	position: relative;
	width: inherit;
	height: inherit;
	display: inline-block;
	background:  #414141;
	transform: perspective(800px) rotateX(40deg);
}

.shadow{
	width: 974px;
	height: 30px;
	background-color: #272222;
	position: absolute;
	top: 91%;
	left: -37px;
	transform: perspective(800px) rotateX(-9deg);
}

.shadow2{
	width: 100%;
	position: absolute;
    left: 3.1%;
    transform: perspective(800px) rotateX(40deg) scaleX(1.18);
    height: 70px;
    width: 93.9%;
    background: linear-gradient(#000, transparent);
    opacity: 0.5;
    top: 101%;
}

.gradient{
	display: inline-block;
	position: absolute;
	height: 20px;
	width: 100%;
	top: 40%;
	background: linear-gradient(to right, transparent 30%, white 30%);
	background-size: 150px;
	background-position: -200px;
	animation: trass linear 0.8s infinite reverse;
}

.box, .box1{
	position: absolute;
	width: 256px;
	overflow: hidden;
	transform: rotateX(0deg) translateY(-130%);
	background-image: url(../img/spritestrip.png);
	background-repeat: no-repeat;
	background-position: 0px;
	animation: run linear 0.8s infinite;
	animation-timing-function: steps(1, jump-start);
}

.box{
	height: 256px;
	z-index: 21;
}

.box1{
	z-index: 20;
	height: 30px;
	opacity: 0.1;
	transform: rotateY(0.5turn) rotate(0.5turn) translateY(230%);
	background-position-y:-230px;
}

@keyframes trass{
	from{
		background-position:-200px; 
	}
	to{
		background-position:-44px;
	}
}

@keyframes run{
	0%{
		background-position-x: 0px;
	}
	20%{
		background-position-x: -275px;
	}
	40%{
		background-position-x: -525px;
	}
	60%{
		background-position-x: -775px;
	}
	80%{
		background-position-x: -1035px;
	}
	100%{
		background-position-x: -1300px;
	}
}